.jonathan-container {
  background-color: hsl(217, 19%, 35%);
  border-radius: 10px;
  padding: 10px 20px 20px 20px;
}

.jonathan-about {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding: 10px;
  color: white;
}

.jonathan-intro {
  flex-direction: column;
  color: white;
}

.jonathan-small {
  color: rgba(255, 255, 255, 0.5)
}

.jonathan-img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.jonathan-comment {
    display: flex;
    text-align: start;
    padding-left: 20px;
    color: white;
}

.jonathan-quote {
    display: flex;
    justify-content: flex-start;
    text-align: start;
    padding-left: 20px;
    color: rgba(255, 255, 255, 0.5)
}
